<!DOCTYPE html>
<html>
  <head>
    <title>PairTrade</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <meta charset="utf-8">
  </head>
  <body>

    <nav class="navbar navbar-default fixed-navbar">
      <img id="logo" src="img/logo.png">
    </nav>

    <section class="col-md-3">
    </section>
    <section class="col-md-3">
    </section>

    <section class="grid">
      <section class="user-column">
          <div class="users-span">
            <li id="users" class="unstyled" style="list-style-type: none;"></li>
          </div>
        </div>
      </section>

      <section class="messages-column">
        <div class="row">
          <div class="span4">
            <li id="msgs" class="unstyled" style="list-style-type: none;"></li>
          </div>
        </div>
      </section>

      <section id="chat-column">
        <div class="form-inputs" id="form-inputs">
          <div class="span5 offset2" id="chat">
            <form id="2" class="form-inline">
              <input type="text" class="input" placeholder="Company" id="company">
              <input type="text" class="input" placeholder="Market" id="market">
              <input type="text" class="input" placeholder="Share Amount" id="share-amount">
              <input type="text" class="input" placeholder="Price" id=price>
              <button name="send" id="send" value="Send" class="btn btn-success">Send</button>
            </form>
          </div>
        </div>
      </section>
    </section>

    <script src="js/socket.io-1.2.0.js"></script>
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/socketHandlers.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="js/interface.js"></script>

  </body>
</html>
